<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/form.css" />
  </head>
  <body>
    <div class="form">
      <div class="container">
        <form action="/action_page.php">
          <label class="form__label" for="fname">First name:</label>
          <input
            class="form__inputs"
            type="text"
            id="fname"
            name="fname"
            value="John"
          />
          <br />
          <label class="form__label" for="lname">Last name:</label>
          <input
            class="form__inputs"
            type="text"
            id="lname"
            name="lname"
            value="Doe"
          />
          <br />
          <label class="form__label" for="fname">First name:</label>
          <input
            class="form__inputs"
            type="text"
            id="fname"
            name="fname"
            value="John"
          />
          <br />
          <label class="form__label" for="lname">Last name:</label>
          <input
            class="form__inputs"
            type="text"
            id="lname"
            name="lname"
            value="Doe"
          />
          <br />
          <label class="form__label" for="fname">First name:</label>
          <input
            class="form__inputs"
            type="text"
            id="fname"
            name="fname"
            value="John"
          />
          <br />
          <label class="form__label" for="lname">Last name:</label>
          <input
            class="form__inputs"
            type="text"
            id="lname"
            name="lname"
            value="Doe"
          />
          <br />
          <label class="form__label" for="fname">First name:</label>
          <input
            class="form__inputs"
            type="text"
            id="fname"
            name="fname"
            value="John"
          />
          <br />
          <label class="form__label" for="lname">Last name:</label>
          <input
            class="form__inputs"
            type="text"
            id="lname"
            name="lname"
            value="Doe"
          />
          <br />
          <label class="form__label" for="fname">First name:</label>
          <input
            class="form__inputs"
            type="text"
            id="fname"
            name="fname"
            value="John"
          />
          <br />
          <input class="form__inputs" type="file" id="myfile" name="myfile" />
          <br />
          <input class="form__inputs" type="file" id="myfile" name="myfile" />
          <br />
          <input class="input__submit" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
