<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="hero__self">
      <div class="container">
        <div class="hero__lang">
          <i class="hero__lang--self far fa-chevron-left"></i>
          <div class="hero__lang--boxes">
            <a href="#" class="eng hero__lang--self">en</a>
            <a href="#" class="ru hero__lang--self">ru</a>
            <a href="#" class="uz hero__lang--self">uz</a>
          </div>
        </div>
        <div class="hero__box">
          <div class="hero__img">
            <img src="img/hero.jpg" alt="" />
          </div>
          <div class="hero__contents">
            <div class="hero__content1">
              <h4 class="hero__title">Zain Butler.</h4>
            </div>
            <div class="hero__cotent2">
              <ul>
                <li class="hero__info">
                  Total : <span class="hero__detail">29</span>
                </li>
                <li class="hero__info">
                  wins : <span class="hero__detail">8</span>
                </li>
                <li class="hero__info">
                  lose : <span class="hero__detail">10</span>
                </li>
                <li class="hero__info">
                  knockout : <span class="hero__detail">10</span>
                </li>
                <li class="hero__info">
                  By submission : <span class="hero__detail">10</span>
                </li>
                <li class="hero__info">
                  decision : <span class="hero__detail">10</span>
                </li>
              </ul>
            </div>
            <div class="hero__cotent3">
              <ul>
                <li class="hero__info">
                  FEO : <span class="hero__detail">shaxram g'iyosov</span>
                </li>
                <li class="hero__info">
                  Trenerlar :
                  <ul>
                    <li>ahmad qodirov</li>
                    <li>ahmad qodirov</li>
                    <li>ahmad qodirov</li>
                  </ul>
                </li>
                <li class="hero__info">
                  Nomeri : <span class="hero__detail">+99890777-77-77</span>
                </li>
                <li class="hero__info">
                  Turar Joyi : <span class="hero__detail">kurash 2a</span>
                </li>
                <li class="hero__info">
                  Darajasi : <span class="hero__detail">yuqori</span>
                </li>
                <li class="hero__info">
                  Viloyati : <span class="hero__detail">samarqand</span>
                </li>
              </ul>
              <a href="CV.pdf" class="hero__btn" target="_blank">
                <span>passport nusxasi</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
